//Tipografia

$fuente_principal: 'Staatliches', cursive;

//Colores
$verde: #0f8b85;
$rosa: #CC094E;
$amarillo: #E2DF15;
$morado: #A51CC5;
$negro: #000000;
$blanco: #ffffff;

// Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;