@use 'base/mixins' as m;
@use 'base/variables' as v;

.lineup{
    background-color: v.$rosa;
    padding: 5rem 0;

    h3, p{
        text-align: center;
        color: v.$blanco;
    }

    .day{
        text-transform: uppercase;
        margin-bottom: 5rem 0;
    }
}

.scenary-container{
    @include m.tablet {
        @include m.grid(2,5);
    }

    p{
        color: v.$negro;
    }
}

.scenary{
    padding-top: 2rem;

    .name-scenary{
        &::after{
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;
        }
    }
}

.edm .name-scenary:after{
    background-image: url(../img/icono_edm.png);
}

.rock .name-scenary:after{
    background-image: url(../img/icono_rock.png);
}

.calendar{
    @include m.reset-list;
    li{
        padding: 2.5rem;
        span{
            font-weight: 400;
        }
    }
}

.bg-yellow{
    background-color: v.$amarillo;
    li:nth-child(odd){
        background-color: darken(v.$amarillo, 15%);
    }
}

.bg-green{
    background-color: v.$verde;
    li:nth-child(odd){
        background-color: darken(v.$verde, 10%);
    }
}